body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    margin-top: 46vb;
    background: rgb(54, 53, 53);
    color: #ffffff;
    font-family: "Hubballi";
    font-size: 18px;
    text-align: center;
}

/* .typed-cursor { opacity: 1; }

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
} */

/* .h3 { margin-top: 46vh; text-align: center; } */

/* .typed-fade-out { opacity: 0; transition: opacity .25s; }

.typed-cursor.typed-cursor--blink.typed-fade-out {
    -webkit-animation: 0;
    animation: 0;
} */

/* @keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
} */
