@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: "Hubballi";
    font-size: 18px;
}

.typed-cursor {
    opacity: 1;
}

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
}

.typed-cursor.typed-cursor--blink.typed-fade-out {
    -webkit-animation: 0;
    animation: 0;
}