:root {
    --back-color: #fff3;
    --text-color: #fff;
    --popup-text-color: #000000;
    --border: none;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: var(--back-color) center;
    background-size: cover;
    display: flex;
    font-family: "Hubballi";
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    min-width: 300px;
    width: 300px;
    display: flex;
    background: none;
    padding: 35px;
    color: var(--text-color);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    border: 2px solid rgb(115, 6, 155);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.buttons {
    min-width: 300px;
    width: 300px;
    display: flex;
    padding: 0px;
    border-radius: 8px;
}

a.link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 8px 20px;
    margin: 4px;
    background: var(--back-color);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    width: 256px;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    border: var(--border);
}

.avatar-container {
    margin: 0 0.4em 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}

.avatar {
    width: 10em;
    height: 10em;
    border-radius: 5.6em;
    border: 2px solid rgb(115, 6, 155);
}

.c {
    position: relative;
    display: inline-flex;
    padding: 0.3em;
}

a.link:hover,
button:hover {
    background: #fff6;
    color: #fff;
}

button:active,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

button::-webkit-focus-inner {
    border: 0;
}

hr {
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

h3 {
    font-style: normal;
    font-weight: inherit;
    transition: .2ms;
}

h2 {
    font-size: larger;
    transition: .2ms;
}

a.nolink:active,
a.nolink:hover,
a.nolink {
    text-decoration: none;
    color: #666;
    outline: none;
    border: none;
}

@media screen and (max-width: 768px) {
    .info {
        margin: 20% auto;
    }

    .avatar-container {
        justify-content: center;
    }

    .avatar {
        margin: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
